<title>dukboot</title>
<p>
  An experimental alternative to Node.js.
<p>
  Check out the source and README on <a href="https://gitlab.com/dukboot/dukboot">gitlab.com/dukboot/dukboot</a>
<p>
  Download the latest and greatest compiled build of Dukboot to try out:
  <ul>
    <li><a href="releases/latest/dukboot-ubuntu">Dukboot for Ubuntu</a>
    <li><a href="releases/latest/dukboot-alpine">Dukboot for Alpine Linux</a>
    <li><a href="releases/latest/dukboot-windows.exe">Dukboot for Windows</a>
<p>
